@model EShop.Web.Models.Domain.ShoppingCardDTO
<h1>Shopping Card</h1>

<div class="container">


   
=<div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Sum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Products.Count == 0)
                {
                    <tr>
                        <td colspan="5">No active Products</td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.Products.Count; i++)
                    {
                        var item = Model.Products[i];

            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>$@item.Product.Price</td>
                <td>@(item.Product.Price * item.Quantity)</td>
               
            </tr>
                    }
                }
            </tbody>
            <tfoot >
                <tr>
                    <th scope="col">TotalPrice:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@Model.TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>